<html>
    <body>
        {#<p>Listado de medios para: {{ distributionE.hotel }}</p><br>#}

        {#<table>#}
        {#<thead>#}
        {#<tr>#}
        {#<th>Equipo</th>#}
        {#<th>No. Inventario/Serie</th>#}
        {#<th>Área de responsabilidad</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for equipment in distributionE.equipments %}#}
        {#<tr>#}
        {#<td>{{ equipment.description }}</td>#}
        {#<td>{{ equipment.ni }}</td>#}
        {#<td>INFORMATICA</td>#}
        {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
        {#</table>#}
        xxxxxx
    </body>
</html>

