{% extends 'layouts/main.html.twig' %}

{% block content %}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        {#{% if is_granted('ROLE_DIRECTOR') %}#}
                            <a href='{{ path('distributioni_new') }}' class="btn btn-success btn-sm">Nueva distribucion</a>
                        {#{% endif %}#}
                        <a href='javascript:void(0)' class="btn btn-info btn-xs link-tooltip hide print_selection" data-placement="top" title="Imprimir seleccion"><span class="glyphicon glyphicon-print"></span> </a>
                        {#{% if is_granted('ROLE_DIRECTOR') %}#}
                            <a
                                href='javascript:void(0)' class="btn btn-danger btn-xs link-tooltip hide delete_selection"
                                data-placement="top" title="Eliminar distribuciones seleccionadas" onclick="toogleModalConfimDeletedDistributions()"
                            >
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {#{% endif %}#}
                        <h2 class="box-title no-padding" style="margin-left: 25%; ">Distribuciones internas</h2>
                        <div class="box-tools">
                            <form class="form-inline" action="{{ path('distributioni_index') }}" method="get" style="margin-bottom: 2px">
                                <input type="text" class="form-control" placeholder="Buscar" name="filter">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive show-distributions-list" style="padding-top: 0">
                        {{ include('distributioni/list-distributions.html.twig') }}
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- ./col -->
        </div><!-- ./row-->
    </section>
{% endblock %}
