<!--Modal para eliminar registros-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel12">Eliminar</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                    <a href="" class="btn btn-info">Si</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal para agregar un nuevo modelo-->
<div class="modal fade" id="addEquipment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar modelo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="form-horizontal">
                                {{ include('layouts/include/types.html.twig') }}

                                <!--Marca-->
                                <div class="show_brands">
                                    {{ include('layouts/include/brands.html.twig') }}
                                </div>

                                {#<div class="form-group">#}
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-group" style="margin-right: 4px">
                                                <input id="model" class="form-control" placeholder="Introdusca el modelo">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <button class="btn btn-success link-tooltip" data-placement="top" title="Guardar" onclick="saveModel()">
                                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div><!--/. row-->
                                {#</div><!--/ .form-group -->#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            {#</div>#}
        </div>
    </div>
</div>

<!--Modal pra insertar el primer numero de inv-->
<div class="modal fade" id="firstNI" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Primer NI</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control ni_start">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="toogleInputNiConsecutive(document.querySelector('.ni_start'))"><span class="glyphicon glyphicon-floppy-save"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>

<!--Modal para mostrar las distribuciones-->
<div class="modal fade" id="addPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel12">Agregar persona</h4>
                </div>
                <div class="modal-body">

                    {% if hotels is defined %}
                        <div class="form-group">
                            <select class="form-control selectpicker" title="Seleccione la instalación" data-live-search="true" data-size="10">
                                {% for hotel in hotels %}
                                    <option value="{{ hotel.id }}">{{ hotel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre y apellidos">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="carnet de identidad">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cargo">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Chapa">
                    </div>

                    <div class="form-group">
                        <a href="" class="btn btn-dropbox">
                            <span class="glyphicon glyphicon-saved"></span>
                            Guardar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal para eliminar varios registros a la vez-->
<div class="modal fade" id="modal_delete_many_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel12">Eliminar</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de eliminar esta cantidad de registros</p>
                    <a href="javascript:void(0)" class="btn btn-info" onclick="deleteDistributionSeleccion()">Si</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal para subir la factura escaneada-->
<div class="modal fade" id="modal_upload_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
    <div class="modal-wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel12">Adjuntar factura escaneada</h4>
                </div>
                <div class="modal-body">
                    <form action="#" method="post" enctype="multipart/form-data" id="form_upload_file">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="file" name="invoice_attachment"/>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="btn btn-info" onclick="sendFileAndShowAnimationLoading(event)">Enviar</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>