{% if equipments is defined %}
    <select name="equipments[]" class="selectpicker form-control" multiple data-live-search="true" data-size="10" required>
        {% for equipment in equipments %}
            <option
                    value="{{ equipment.id }}"
                    data-subtext="{{ equipment.ni }}/{{ equipment.ns }}"
                    {% if equipments_by_distribution is defined %}
                        {% for e in equipments_by_distribution if e.id==equipment.id %}
                            selected="selected"
                        {% endfor %}
                    {% endif %}
            >
                {{ equipment }}
            </option>
        {% endfor %}
    </select>
{% endif %}